@CHARSET "UTF-8";


/*下面是command inject介绍页面_vul的css*/
#vul_info{
	width:600px;
	height:600px;
	/*background-color:red;*/
	overflow:hidden;
	}

#vul_info .vul_title{
	height:30px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	/*background-color:pink;*/
	text-align:center;
	}
#vul_info .vul_detail{
	color:#fff;
	text-indent:25px;
	line-height:25px;
	margin-top:10px;
	margin-left:15px;
	}
#vul_info .vul_detail_1{
	color:#fff;
	line-height:25px;
	margin-top:10px;
	margin-left:15px;
	}
/*下面是ping exec的CSS*/
#comm_main{
	width:600px;
	float:left;
	margin-left:50px;
	margin-top:30px;
	color:#fff;
	
}
#comm_main p{
	margin-bottom:15px;

}
#comm_main .ipadd{
	width:200px;
	height:30px;
	margin-left:50px;
	
}
#comm_main .sub{
	width:55px;
	height:30px;
	
}
#comm_main .result{
	width:500px;
	
}
