@CHARSET "UTF-8";

#vul_info{
	width:600px;
	height:600px;
	/*background-color:red;*/
	overflow:hidden;
	}

#vul_info .vul_title{
	height:30px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	/*background-color:pink;*/
	text-align:center;
	}
#vul_info .vul_detail{
	color:#fff;
	text-indent:25px;
	line-height:25px;
	margin-top:10px;
	margin-left:15px;
	}
#vul_info .vul_detail_1{
	color:#fff;
	line-height:25px;
	margin-top:10px;
	margin-left:15px;
	}
#dt_main{
	color:#fff;
	font-size:16px;
	width:200px;
	height:400px;
	margin-top:60px;
	margin-left:500px;	
}

#dt_jarheads{
	color:#fff;
	font-size:16px;
	width:600px;
	height:400px;
	margin-left:400px;
}